.container2{
    display: flex;
    gap:    130px;
}
.den{
    text-decoration: none;
    font-size: 15px;
}
.a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.best{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.pp{
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.cof{
    font-size: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bold;
    
}
.ll{
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.ff{
    text-decoration: none;
    width: 110px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(253, 202, 106);
    border: none;
}
.oo{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.container1{
    background-image: url("coffee9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.jj{
    display: inline;
}
.ww{
    margin-left: 60px;
}

.aw{
    background-color: rgb(253, 202, 106);
    width: 110px;
    border-radius: 15px;
    font-size: 15px;
    text-decoration: none;

}
.nn{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.dis{
    font-weight: bold;
    color: rgb(77, 50, 2);
    font-size: 35px;

}
.lo{
    text-decoration: none;
    color: black;
    font-weight: bold;
    

}
.on{
    border-radius: 20px;
    width: 110px;
    height: 40px;
    background-color: rgb(253, 202, 106);
    border: none;
    
}
.bean{
    display: flex;
    gap: 120px;
    margin-top: 50px;
    margin-left: 150px;
}
.fn{
    width: 500px;
    height: 320px;
    margin-top: 20px;
    
}
.shop{
    word-spacing: 5px;
}
.new{
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
    color: rgb(77, 50, 2);

}
.all{
    text-align: center;
}
.cap{
    margin-left: 50px;
    color: rgb(77, 50, 2);
    font-weight: bold;
}
.fo{
    margin-left: 20px;
}
.pro{
    margin-left: 72px;
    font-weight: bold;
}
.bb{
    
    width: 200px;
    height: 100px;
    
}
.milk{
    background-color: rgb(250, 229, 190);
    width: 200px;
    box-shadow: 0px 2px 9px #ccc ;
    transition:.3s all ease;
    
}
.milk:hover{
    transform:scale(1.1);
}

.contain{
    display: flex;
    gap: 90px;
    margin-left: 90px;
    margin-top: 40px;
   
    
}

.ooo{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 40px;
}
.bu{
    width: 110px;
    height: 40px;
    background-color: rgb(253, 202, 106);
    border: none;
    border-radius: 30px;
    margin-left: 40px;

    
}
.kk{
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}
.that{
    width: 200px;
    height: 150px;
    background-color:  rgb(250, 229, 190); 
    text-align: center;
    border-radius: 19px;
    box-shadow: 0px 2px 9px #ccc;
    transition:.3s all ease;
}
.that:hover{
    transform:scale(1.1);
}
.ny{
    display: flex;
    gap: 90px;
    margin-left: 90px;
    margin-top: 30px;

}
.ne{
    text-align: center;
    font-size: 30px;
    color: rgb(77, 50, 2);
    margin-top: 0px;
}
.jo{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.un{
    border-radius: 20px;
    width: 110px;
    height: 40px;
    background-color: rgb(253, 202, 106);
    border: none;
    margin-left: 610px;
    margin-top: 0px;
}
.hav{
    font-size: 40px;
    margin-top: 90px;
    color: white;
}
.om{
    border-radius: 20px;
    width: 110px;
    height: 40px;
    background-color: rgb(253, 202, 106);
    border: none;
    margin-top: 20px;
}
.ro{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.to{
    background-image: url("coffee12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: 50px;
    padding-left: 80px;
    padding-top: 40px;
}
.nk{
    font-size: 20px;
    color: white;
}
.Ik{
   width: 60px;
   height: 40px;
   background-color: rgb(253, 202, 106);
   text-align: center;
   font-size: 15px;
   font-weight: bold;
   padding-top: 1px;
   padding-bottom: 0px;
   border-radius: 10px;
   box-shadow: 0px 2px 9px #ccc;
   margin-top: 200px;
   
}
.p{
    font-size: 60px;
    font-weight: bold;
    padding-top: 40px;
    margin-left: 20px;
}
.nm{
    width: 800px;
    height: 500px;
    background-color: rgb(250, 229, 190);
    border-radius: 25px;
    box-shadow: 0px 2px 9px #ccc;;
}
.bn{
    text-align: center;
    word-spacing: 5px;
}
.mb{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.end{
    text-align: center;
    
}
.mm{
    width: 60px;
   height: 40px;
   background-color: rgb(253, 202, 106);
   text-align: center;
   font-size: 15px;
   font-weight: bold;
   padding-top: 1px;
   padding-bottom: 0px;
   border-radius: 10px;
   box-shadow: 0px 2px 9px #ccc;
   margin-top: 200px;
   
   
}
.wwn{
    display: flex;
    gap: 0px;
    margin-left: 200px;
    margin-top: 18px;
    
}
.nnh{
    margin-left: 350px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0px 2px 9px #ccc;
    
}
.the{
    background-image: url("coffee12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.email{
    width: 350px;
    height: 34px;
    border: none;
    font-weight: bold;
    color: black;
}
.ton{
    height: 35px;
    background-color: orange;
    color: black;
    font-weight: bold;
    border: none;
}
.km{
    background-image: url("coffee17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    gap: 130px;

    padding-left: 120px;
    padding-top: 90px;

}
.ok{
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 40px;
}
.mp{
    font-size: 15px;
    color: white;

}
.butu{
    display: flex;
    margin-left: 480px;
    margin-top: 30px;
}
.ni{
    color: white;
    margin-left: 40px;
}
.the{
    text-align: center;
    padding-top: 80px;
    margin-top: 140px;
}
@media (max-width : 600px){
    .den{
        font-size: 8px;
        padding-top: 8px;
    }
    .container2{
        display: flex;
        gap: 12px;
    }
    .best{
        font-size: 10px;
    }
    .aw{
        margin-top: 6px;
        width: 50px;
        height: 20px;
        margin-left: 5px;
        
    }
    .nn{
        font-size: 8px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: auto;
        margin-top: 2px;
        
    }
    .pp{
        
        padding-top: 8px;
        font-size: 7px;
        padding-top: auto;
        
    }
    .cof{
        font-size: 22px;
        color: rgb(27, 27, 27);
    }
    .ww{
        padding-left: auto;
        padding-left: 5px;

    }
    .ll{
        font-size: 7px;
    }
    .ff{
        width: 50px;
        height: 15px;
    }
    .oo{
        font-size: 7px;
        text-align: center;
    }
    .bean{
        display: block;
        margin-left: auto;
    }
    .dis{
        font-size: 12px;
        text-align: center;
        
    }
    .shop{
        font-size: 7px;
        text-align: center;
    }
    .on{
        width: 70px;
        height: 20px;
        margin-left: 140px;
    }
    .lo{
        font-size: 9px;
    }
    .fn{
        width: 130px;
        height: 90px;
        margin-left: 60px;


    }
    .container1{
        width: 340px;
    }
    .new{
        font-size: 12px;
        text-align: center;
    }
    .all{
        font-size: 9px;
        text-align: center;
    }
    .milk{
        width: 140px;
        height: 200px;
    }
    .milk img{
        width: 140px;
        height: 100px;
    }
    .cap{
        font-size: 10px;
    
    }
    .fo{
        font-size: 8px;
        margin-left: 30px;
    }
    .pro{
        font-size: 6px;
    
    }
    .that{
        width: 190px;
        height: 100px;
         
    }
    .kk{
        font-size: 11px;
        padding: 3px;
    }
    .nb{
        font-size: 10px;
        padding: 3px;
    }
    .ne{
       font-size: 10px;
       text-align: center;
    }
    .all{
       font-size: 8px;
       text-align: center;
    }
    .un{
        width: 70px;
        height: 20px; 
        margin-left: auto;
        margin-left: 140px;
    }
    .jo{
       font-size: 7px;
    }
    .p{
        width: 20px;
        height: 10px;
        
    }
    .bn{
        font-size: 8px;
        
    }
    .nm{
        width: 260px;
        height: 340px;
        padding-top: auto;
        
    }
    .mb{
        font-size: 10px;
        text-align: center;
    }
    .end{
        font-size: 9px;
        text-align: center;
    }
    .wwn{
        margin-left: auto;
    }
    .Ik{
        width: 30px;
        height: 20px;
        font-size: 7px;
    }
    .mm{
        width: 30px;
        height: 20px;
        font-size: 7px;
    }
    .nnh{
        width: 90px;
        height: 30px;
        margin-left: auto;
        margin-left: 70px;
    }
    .hav{
        font-size: 14px;
        padding-top: auto;
    }
    .nk{
       font-size: 10px;
    }
    .to{
        width: 200px;
        height: 250px;
        padding-top: auto;
        border-radius: 10px;
        margin-left: 16px;
    }
    .ny{
        display: block;
        margin-left: auto;
        margin-left: 70px;
    }
    .om{
        width: 90px;
        height: 20px;
    }
    .or{
       font-size: 7px; 
}
.hav{
    font-size: 14px;
}
.ni{
    font-size: 10px;
}
.butu{
    margin-left: auto;
    margin-left: 40px;
}
.email{
    width: 130px;
    height: 20px;
}
.ton{
    height: 20px;
}
.the{
        width: 300px;
        height: 250px;
        padding-top: auto;
        border-radius: 10px;
        margin-left: 9px;
}
.km{
       display: flex;
       gap: 5px;
         margin-left: auto;
        width: 290px;
        height: 250px;
        padding-top: auto;
        margin-left: 1px;
        padding-left: auto;
        padding-left: 20px;
        padding-right: 10px;
        margin-top: 40px;


}
.ok{
    font-size: 10px;
}
.mp{
    font-size: 7px;
}
.bbm{
    padding-left: auto;
}

}